/* theme colors
#F2EBEC
#56738C
#0C0D0B
#262521
#735555 */

#homeMiddle {
    margin-right: auto;
    margin-left: 18%;
    position: absolute;
    top: 35%;
}

#home {
    background: url(../Assets/Images/hero-ducks.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#portfolio {
    background: #F2EBEC;
}

h2 {
    color: #2182BF;
    font-size: 3rem;
}

#hello {
    color: #F2EBEC;
    font-size:2rem;
}

#name {
    color: #F2EBEC;
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 4px 4px #56738C;
}

#about {
    background: #56738C;
    color: #F2D0A7;
}

#about p {
    font-size: 18px;
}

#about img {
    border-radius: 50%;
}

h3 {
    font-size: 40px;
}