/* theme colors
#F2EBEC
#56738C
#0C0D0B
#262521
#735555 */

#homeMiddle {
    margin-right: auto;
    margin-left: 18%;
    position: absolute;
    top: 35%;
}

#home {
    background: url(../Assets/Images/hero-ducks.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#portfolio {
    background: #F2EBEC;
}

h1 {
    color: #2182BF;
}

#homeMiddle h1 {
    color:#F2EBEC;
}

#hello {
    font-size:2rem;
}

#name {
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 4px 4px #56738C;
}